[submodule "libraries/classic"]
	path = libraries/classic
	url = git@github.com:rxi/classic.git
[submodule "libraries/boipushy"]
	path = libraries/boipushy
	url = git@github.com:adnzzzzZ/boipushy.git
[submodule "libraries/chrono"]
	path = libraries/chrono
	url = git@github.com:adnzzzzZ/chrono.git
[submodule "libraries/EnhancedTimer"]
	path = libraries/EnhancedTimer
	url = git@github.com:adnzzzzZ/EnhancedTimer.git
[submodule "libraries/hump"]
	path = libraries/hump
	url = git@github.com:vrld/hump.git
