[submodule "libraries/classic"]
	path = libraries/classic
	url = git@github.com:rxi/classic.git
[submodule "libraries/boipushy"]
	path = libraries/boipushy
	url = git@github.com:adnzzzzZ/boipushy.git
[submodule "libraries/chrono"]
	path = libraries/chrono
	url = git@github.com:adnzzzzZ/chrono.git
[submodule "libraries/EnhancedTimer"]
	path = libraries/EnhancedTimer
	url = git@github.com:adnzzzzZ/EnhancedTimer.git
[submodule "libraries/Moses"]
	path = libraries/Moses
	url = git@github.com:Yonaba/Moses.git
[submodule "libraries/windfield"]
	path = libraries/windfield
	url = git@github.com:adnzzzzZ/windfield.git
[submodule "libraries/draft"]
	path = libraries/draft
	url = git@github.com:pelevesque/draft.git
[submodule "libraries/ripple"]
	path = libraries/ripple
	url = git@github.com:tesselode/ripple.git
